<!-- main.hbs-->

<!---CITATION--->
<!--The below code for the main.hbs page was copied from Step 3 of the Node.js Start App provided in this course-->
<!--Date: 2/21/2024-->
<!--Copied from: GitHub: osu-cs340-ecampus/nodejs-starter-app - Step 3-->
<!--Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->
<!--Description of function: Serves as the foundation for the template builder-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    {{{body}}}

</body>
</html>